body {
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(315deg, #080714 0%, #000000 74%);
}

/* Similer code */




/* Similer code */


/* HEADER SECTION START HERE */

header {
    max-width: 1060px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-title {
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}
.nav-items {
    padding: 10px;
    display: flex;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
}
.nav-items li {
    list-style: none;
}
.nav-items a {
    text-decoration: none;
    color: white;
    transition: 500ms;
    padding: 8px 20px;
}
.nav-items a:hover {
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
}
.nav-active {
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
}
.banner-desc h1 {
    font-weight: 900;
    color: white;
    font-size: 60px;
}
.banner-img {
    background: url(../images/Images\ 2.png);
    height: 580px;
    width: 349px;
    background-repeat: no-repeat;
    position: relative;
}
.banner-desc .diff {
    font-style: italic;
    font-weight: 400;
    font-family: "Playwrite IT Trad", cursive;
    line-height: 93.6px;
}
 .banner-desc-btn button {
    border: none;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    transition: 500ms;
}
.banner-desc-btn button:hover {
    background: rgba(230, 83, 60, 1);
    color: white;
}
.banner-active {
    background: rgba(230, 83, 60, 1);
    color: white
}
.banner-img .first  {
    background: rgba(48, 48, 48, 0.54);
    color: white;
    line-height: 50%;
    height: 60px;
    width: 120px;
    padding: 20px 40px;
    border-radius: 12px;
    position: absolute;
    top: 340px;
    left: -100px;
}

.banner-img .second  {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    line-height: 50%;
    height: 60px;
    width: 140px;
    padding: 20px;
    border-radius: 12px;
    position: absolute;
    top: 127px;
    left: 237px;
}
.circle {
    background: rgba(230, 83, 60, 1);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    bottom: 158px;
    left: -91px;
}
/* HEADER SECTION END HERE */


 /* HABIT SECTION START HERE  */

.habit {
    max-width: 1060px;
    margin: 0 auto;
}
.habit .title {
    color: white;
    text-align: center;
}
.habit .sub-title {
    color:  rgba(255, 255, 255, 0.5);
    text-align: center;
}
.habit-img-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 40px 0;
}
.habit-img-container img {
    border-radius: 50%;
}
 /* HABIT SECTION END HERE  */


  /* JOIN SECTION START HERE  */

.join {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: rgba(34, 34, 34, 1);
    padding: 20px;
}
.join h1 {
    color: white;
    font-weight: bold;
}
.join p {
    color:  rgba(255, 255, 255, 0.5);
}
.join .img-side img {
    border-radius: 10px;
}
.join button {
    border: none;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    transition: 500ms;
    background: rgba(230, 83, 60, 1);
    color: white;
}
.join button:hover {
    background-color: white;
    color: black;
}

 /* HABIT SECTION END HERE  */


 /* suppliment section start here */


 .suppliment {
    max-width: 1060px;
    margin: 0 auto;
 }

.suppliment .heading {
    color: white;
}
.suppliment p {
    color:rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.suppliment div {
    margin: 30px 0;
}
.suppliment img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    
}

.suppliment .img-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.suppliment button {
    background: rgba(230, 83, 60, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 46px;
    font-weight: bold;
}
.suppliment button:hover {
    background: white;
    color: black;
}
.suppliment .price {
    color:rgba(255, 255, 255, 0.7);
}
.suppliment .text {
    color: white;
}
 /* suppliment section end here */

  /* EXCERCISE SECTION START HERE  */
.exercise {
    margin: 60px 0;
    position: relative;
}
.position1 {
    position: absolute;
    top: 255px;
    left: 236px;
}
.position2 {
    position: absolute;
    top: 102px;
    left: 509px;
}
.position3 {
    position: absolute;
    top: 236px;
    left: 1034px;
}
.position4 {
    position: absolute;
    top: 433px;
    left: 239px;
}
.position5 {
    position: absolute;
    top: 433px;
    left: 772px;
}
.position6 {
    position: absolute;
    top: 433px;
    left: 1033px;
}
.exercise-container {
    max-width: 1060px;
    margin: 0 auto;
}
.exercise-container h1 {
    color: white;
}
.exercise-container p {
    color:  rgba(255, 255, 255, 0.5);
}
.exercise .item1 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
}
.item1 img {
    width: 100%;
    height: 100%;
}
.item1 .second {
    grid-column: 2/4;
}
.item2 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
}
.item2 img {
    width: 100%;
    height: 100%;
}
.item2 .first {
    grid-column: 1/3;
}
.first-one {
    height: 100%;
    width: 100%;
    background: url(../images/exercise1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.first-one .overlay {
    width: 100%;
    height: 100%;
    background: rgba(6, 255, 210, 0.5);

}
.second-one {
    height: 100%;
    width: 100%;
    background: url(../images/exercise2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.second-one .overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
}
.third-one {
    height: 100%;
    width: 100%;
    background: url(../images/exercise3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.third-one .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.item2 .one {
    background: url(../images/exercise4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item2 .one .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.item2 .two {
    background: url(../images/exercise5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item2 .two .overlay {
    width: 100%;
    height: 100%;
    background: rgba(66, 255, 0, 0.3);
}

.item2 .three {
    background: url(../images/exercise6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.item2 .three .overlay {
    width: 100%;
    height: 100%;
    background: rgba(66, 255, 0, 0.3);
}
 /* EXCERCISE SECTION END HERE  */


 /* BMI-CALCULATOR SECTION START HERE  */
.bmi-calculator {
    background: rgba(34, 34, 34, 1);
    padding: 40px 0;

}
.bmi-calculator h1 {
   max-width: 1060px;
   margin: 0 auto;
   color: white;
}
.bmi-container {
    display: flex;
    justify-content: space-between;
    width: 1060px;
    margin: 0 auto;
}
.table-container {
    margin-top: 50px;
}
table,th,td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px 20px;
    text-align: left;
}
table th {
    color: white;
}
table td {
    color:  rgba(255, 255, 255, 0.5);
}

.bmi-input {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.bmi-input .five {
    grid-column: 1/3;
}

.bmi-input input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 8px;
}
.bmi-right p {
    color: rgba(255, 255, 255, 0.5);
}

.bmi-right button {
    border: none;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    transition: 500ms;
    margin-top: 20px;
}
.bmi-right button:hover {
    background: rgba(230, 83, 60, 1);
    color: white;
}
 /* BMI-CALCULATOR SECTION END HERE  */

  /* OUR TEAM SECTION START HERE  */
.ourTeam {
    max-width: 1060px;
    margin: 0 auto;
}
.ourTeam .title {
    color: white;
    text-align: center;
    font-weight: bold;
}
.ourTeam .sub-title {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
 .teamImg {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
 }

 .team-img1 {
    background: url(../images/trainer1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
 }
 .team-img2 {
    background: url(../images/trainer2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
 }
 .team-img3 {
    background: url(../images/trainer3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
 }
 .team-img4 {
    background: url(../images/trainer4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
 }
 .team-img5 {
    background: url(../images/trainer5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
 }
 .team-img6 {
    background: url(../images/trainer6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
 }
.teamImg  .img-text {
    margin-top: 218px;
    margin-left: 10px;
 }
 .img-text h1 {
    color: white;
 }
 .img-text p {
    color: rgba(255, 255, 255, 0.5);
 }

 /* OUR TEAM SECTION END HERE  */

  /* FOOTER SECTION START HERE  */

footer {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 60px;
}
.footer-container {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-container .first h1 {
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}
.footer-container h3 {
    color: white;
}

.footer-container .first p {
    color:  rgba(255, 255, 255, 0.5);
}
.footer-container .second p {
    color:  rgba(255, 255, 255, 0.5);
}
.footer-container .third p {
    color:  rgba(255, 255, 255, 0.5);
}

.line {
    width: 1060px;
    height: 1px;
    background: hwb(0 98% 0% / 0.1);
    margin: 0 auto;
}
.allright-reseve {
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 10px 0;
}

  /* FOOTER SECTION END HERE  */


/* ---------------------------------------------------------------------------------------------------- */


/* Responsive Medium device start here */


  @media screen and (max-width: 768px) {
    .banner-img .first {
        left: 0;
        top: 20px;
    }
    .banner-img .second {
        left: 0;
        top: 140px;
    }
    .banner-img .circle {
        display: none;
    }
    .banner-desc-btn {
        display: flex;
        column-gap: 20px;
    }
    
    .join .img-side img {
        width: 100%;
    }
    .habit-img-container {
        grid-template-columns: repeat(2,1fr);
    }
    .teamImg {
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
    }
    
    .bmi-container {
        flex-direction: column;
    }
    
  }

  /* Responsive Medium device end here */




  
/* Responsive Small device start here */

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }
    .nav-items {
        flex-direction: column;
    }
    .banner-container {
        flex-direction: column;
    }
    .banner-img .first {
        left: 0;
        top: 20px;
    }
    .banner-img .second {
        right: 0;
        top: 145px;
    }
    .banner-img .circle {
        display: none;
    }
    
    .join {
        flex-direction: column;
    }
    .join .img-side img {
        width: 100%;
        margin-top: 10px;
    }
    .exercise .item1 {
        grid-template-columns: repeat(2,1fr);
    }
    .bmi-container {
        flex-direction: column;
        margin-left: 10px;
    }
    .bmi-right {
        margin-top: 20px;
    }
    .bmi-input {
        width: 27%;
        overflow-x: hidden;
        padding-left: 10px;
    }
    
    .bmi-right p {
        width: 45%;
    }
    .habit-img-container {
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        row-gap: 10px;
    }
    .teamImg {
        grid-template-columns: repeat(1,1fr);
        row-gap: 10px;
    }
    footer {
        padding-left: 10px;
    }
    .footer-container {
        flex-direction: column;
    }
    .position1 {
        display: none;
    }
    .position2 {
        display: none;
    }
    .position3 {
        display: none;
    }
    .position4 {
        display: none;
    }
    .position5 {
        display: none;
    }
    .position6 {
        display: none;
    }
    .line {
        margin-top: 5px;
        width: 500px;
        margin: 0 auto;
    }
    .suppliment .img-section {
        grid-template-columns: repeat(1,1fr);
    }
    
  }

  /* Responsive Small device end here */


  /* ---------------------------------------------------------------------------------------------------- */